.App {
  text-align: center;
 
}
.div-nav{
  background-color: black;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  background-color: black;
  color: whitesmoke;
  /* margin-top: 40px; */
}

nav a {
color: whitesmoke;
font-size: large;
font-weight: bolder;
text-decoration: none;
padding: 30px;
}
a:hover{
  text-decoration: underline;
}
